<?xml version="1.0" encoding="utf-8"?>
<odoo>
        <record model="ir.ui.view" id="spring_system_product_tree_view">
            <field name="name">spring.system.product.tree.view</field>
            <field name="model">spring.system.product</field>
            <field name="arch" type="xml">
                <tree string="Spring Product">
                     <field name="product_id" options="{'no_create': True, 'delete': False}"/>
                    <field name="name" readonly="1" force_save="1"/>
                    <field name="item_number" readonly="1" force_save="1"/>
                    <field name="product_external_id" readonly="1" force_save="1"/>
                    <field name="type" readonly="1" force_save="1"/>
                    <field name="configuration_id" readonly="1" force_save="1"/>
                    <field name="status" readonly="1" force_save="1"/>
                    <field name="data" readonly="1" invisible="1" force_save="1"/>
                </tree>
            </field>
        </record>



    <record id="spring_system_product" model="ir.actions.act_window">
        <field name="name">Product</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">spring.system.product</field>
        <field name="view_mode">tree,form</field>
    </record>


        <menuitem name="Product" id="spring_systems_product_menu_root"
                  parent="spring_systems_integration.spring_systems_integration_menu_root"
                  action="spring_system_product"
                  />



</odoo>