$o-hr-org-chart-bg: white;
$o-hr-org-chart-border-color: $o-brand-secondary;

$o-hr-org-chart-entry-v-gap: 6px;
$o-hr-org-chart-entry-pic-size: 46px;
$o-hr-org-chart-entry-pic-small-size: $o-hr-org-chart-entry-pic-size * .8;
$o-hr-org-chart-entry-line-w: 1px;
$o-hr-org-chart-entry-border-color: darken($o-hr-org-chart-bg, 25%);

// MIXINS
@mixin o-hr-org-chart-line {
    content: '';
    background-color: $o-hr-org-chart-bg;
    border: 0px solid $o-hr-org-chart-entry-border-color;
}

@media (min-width: 1200px){
	.o-form-buttonbox .btn.oe_stat_button {
	    width: 16.66%;
	}
}

@media (max-width: 900px){
	.o-form-buttonbox .btn.oe_stat_button {
	    width: 25%;
	}
}
